.nav {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
}

.homeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;
  font-size: large;
}

.aboutMeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;
  font-size: large;
}

.resumeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;
  font-size: large;
}

.ProjectsLink {
  text-decoration: none;

  margin-top: 10px;
  color: white;
  font-size: large;
}

.contactMeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;
  font-size: large;
}
