.nav {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;

  
}

.homeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;


}



.aboutMeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;


}

.resumeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;


}

.ProjectsLink{
  text-decoration: none;

  margin-top: 10px;
  color: white;

}


.contactMeLink {
  text-decoration: none;
  margin-top: 10px;
  color: white;


}

