.headerHome {
  width: 100%;
  height: 100vh;
  min-width: 80vh;

  background-image: url(../cover.png);
  background-size: cover;
  background-position: center;
  background: no repeat;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.whatDo #Welcome {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

.whatDo #header {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.change_content:after {
  content: "";
  animation: changeText 10s infinite linear;
  color: #0174B1;
}

@keyframes changeText {
  0% {
    content: "Front-End Developer";
  }

  50% {
    content: "Back-End Developer";
  }

  100% {
    content: "Full-Stack Developer";
  }
}

.whatDo .hire {
  padding: 11.1px 20px;
  /* border: 1px solid; */
  cursor: pointer;
  background-color: black;
  color: #fbb006;
  margin-right: 90px;
}

.whatDo .getResume {
  padding: 11px 15px;
  /* border: 1px solid; */
  cursor: pointer;
  background-color: #fbb006;
  color: black;
  text-decoration: none;
}


.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(0rem, 4rem);
  gap: 10px;
}


.github {
  font-size: xx-large;
  cursor: pointer;
  color: black;
}

.mail {
  font-size: xx-large;
  cursor: pointer;
  color: black;
}

.linkedin {
  font-size: xx-large;
  cursor: pointer;
  color: #0174b1;
}

.phone {
  font-size: xx-large;
  cursor: pointer;
  color: black;
}

.about {
    /* margin-bottom: 1000px; */
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about .contentAbout img {
    height: auto;
    width: 500px;
    max-width: 100%;
}


.contentText {
  height: auto;
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
  font-size: larger;
}

.contentAbout{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;  
}


.contentText h1 {
  text-transform: uppercase;
  word-spacing: 15px;
  width: 170px;
padding: 10px 0;
  border-bottom: 5px solid #0174B1;

}


.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 50px;
  float: right;
  transform: translate(38.2em, -2.5em);
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  color: black;
}


.scrollTop:hover{
  cursor: pointer;
}


.footer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  transform: translate(0rem, 4rem);
  gap: 10px;

}